html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Product-Card{
    display: flex;
    justify-self:center;
    width: 600px;
    height: 450px;
    border-radius: 12px;
    overflow:hidden;
    box-shadow:0 10px 20px rgb(0,0,0,0.1);
}
.left{
    width: 50%;
    padding: 0;
    margin: 0;
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}
.right{
    width: 50%;
    height: 100%; 
    background-color: hsl(0, 0%, 100%);
    padding: 30px; 
    box-sizing: border-box; 
}
.right p{
    font-size: 14px;
}

.price-container {
    display: flex; 
    align-items: center; 
    margin: 25px 0;
}
.price-desconto {
    font-size: 32px;
    color: green;
    font-weight: 700;
    margin-right: 20px;
}
.price-antigo {
    /* O preço antigo é menor e riscado */
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-size: 13px;
}

.right button {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 8px;
    background-color:green;
    color: white;
    font-weight: 700;
    cursor: pointer;
    /* Adicionar ícone de carrinho aqui (opcional, pode ser com um pseudo-elemento) */
}